<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lazylapse">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lazylapse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_lazylapse_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".Drive.NewPicsUploader"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".Drive.PicsUploader"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".SMS.SMSReader"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".SMS.PhoneStatus"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Interface.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Photo.Photographer" />
        <activity android:name=".Drive.LoginActivityDropbox" />
        <activity
            android:name=".Interface.Controller"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard">
            <intent-filter>

                <!-- Insert your app key after “db-  ...” -->
                <data android:scheme="db-65ispm6rpzgnu23" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>